:root {
  --visible-bg-color: rgb(252, 191, 36);
  --duration: 1s;
  --border-radius: 5px;
}
.block {
  display: grid;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin: 2rem;
  background-color: antiquewhite;
  position: relative;
  flex-shrink: 0;
  border-radius: var(--border-radius);

  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  @for $i from 1 through 11 {
    &.box-height-#{$i * 10} {
      height: #{$i * 10}vh;
    }
  }

  @for $i from 1 through 11 {
    &.box-width-#{$i * 10} {
      width: #{$i * 10}vw;
    }
  }

  &.box--visible {
    & .inner-box {
      position: absolute;
      z-index: 1;
      opacity: 0.9;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: var(--border-radius);
      background-color: var(--visible-bg-color);
      pointer-events: none;
      animation: scale-up var(--duration) linear both;
    }
  }
}

.box-text {
  z-index: 2;
  .box--visible & {
    color: white;
  }
}

.intersection-box {
  position: absolute;
  left: 0;
  opacity: 0.8;
  width: 100%;
  pointer-events: none;
  border-radius: var(--border-radius);
  &--top {
    top: 0;
    background: repeating-linear-gradient(
      45deg,
      #606dbc,
      #606dbc 10px,
      #465298 10px,
      #465298 20px
    );
  }

  &--bot {
    bottom: 0;
    background: repeating-linear-gradient(
      -45deg,
      #606dbc,
      #606dbc 10px,
      #465298 10px,
      #465298 20px
    );
  }

  &--left {
    height: 100%;
    bottom: 0;
    background: repeating-linear-gradient(
      -90deg,
      #60bc77,
      #60bc77 10px,
      #54a468 10px,
      #54a468 20px
    );
  }

  &--right {
    height: 100%;
    left: 100%;
    background: repeating-linear-gradient(
      0deg,
      #60bc77,
      #60bc77 10px,
      #54a468 10px,
      #54a468 20px
    );
  }
}

@keyframes scale-up {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.flex-row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 100vw;
  overflow: scroll;
}
