body {
  background-color: azure;
}
main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 2rem;
}

fieldset {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
fieldset input {
  width: clamp(15ch, 50%, 30ch);
}
output {
  margin: 0 1rem;
}
p {
  width: clamp(80vw, 50%, 75ch);
}
